html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}

input, button {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.appWrapper {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.appHeader {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.searchWrapper {
  margin: 20px 0;
}

.searchInput {
  width: 200px;
  height: 45px;
  font-size: 18px;
  border-radius: 4px;
  margin-right: 20px;
}

button {
  height: 40px;
  padding: 10px 10px;
  line-height: 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #0098c7;
  max-width: max-content;
}

button:hover {
  background: #027ea5;
}

/* .searchButton {
  height: 40px;
  padding: 10px 10px;
  line-height: 20px;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background: #61dafb;
  max-width: max-content;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.userParam {
  text-transform: capitalize;
  text-align: start;
}

.userParamName {
  font-weight: 600;
}

.userInfoBlock {
  margin: 20px auto;
  padding: 15px;
  width: 600px;
  border: 2px solid rgb(51, 152, 215);
  border-radius: 5px;
}

.loading {
  margin: 10px 0;
}

.repoBlock p {
  line-height: 20px;
}

.repoName span {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.repoTextData {
  text-align: start;
  padding-left: 20px;
}

.repoDescription {

}